.App {
  text-align: center;
}

.cardHolder {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row ;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.imageCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 380px;
  margin-bottom: 2.5%;
  border: 1px solid black;
}

.imageCard h1,p {
  margin: 5px;
}

.imageCard img, iframe{
  width: 250px;
  height: 250px;
}

.liked {
  border: 1px solid palevioletred;
}