body {
  color: aquamarine;
  background: rgb(140, 103, 161);
  font-family: 'Roboto', sans-serif;
}
.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
header {
  margin: 3% auto;
}
header h1 {
  font-family: 'Architects Daughter', cursive;
}
header p {
  width: 70%;
  margin: auto;
}
footer {
  margin-top: 2.5%;
  min-height: 100px;
  padding: 3% 0;
  background-color: rgb(69, 36, 107);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.app-header {
  font-size: 7vw;
  margin: 1% 0;
}

.cardHolder {
  width: 60%;
  padding: 2.5% 5%;
  margin: 2.5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imageCard {
  box-shadow: 0px 0px 14px rgb(0,0,0);
  margin: 5% 0;
  color: rgba(9,9,121,1);
  background: rgb(204, 175, 221);
  background: rgba(204, 175, 221, 20);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
  width: 100%;
  margin-bottom: 2.5%;
  border-radius: 28px;
  padding: 0 1%;
}

.imageCard h1 {
  margin: 1.5% auto;
  text-align: center;
}

.imageCard img, iframe{
  border-radius: 16px;
  margin-top: 6%;
  width: 98%;
  min-height: 300px;
}

.liked {
  background-color: rgb(255, 167, 215);
  transition: 1s;
}

button {
  font-size: 1.8rem;
  margin: 20px 0;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

a:link {
  color: rgb(254, 255, 179);
  font-weight: 500;
  font-style: italic;
}
a:visited {
  color: rgb(91, 143, 255);
}

/* 

  Loading Item

*/

.loader {
  margin: 2.5%;
  font-size: .65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}
.loader-sphere {
  border: 6px solid rgba(255,255,255,0);
  border-top: 6px solid aquamarine;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  animation: spin .65s linear infinite;
  z-index: -1;
  position: absolute;
}
.loader-sphere-thinner {
  border: 3px solid rgba(255,255,255,0);
  border-top: 3px solid aquamarine;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin .45s linear infinite;
  z-index: -1;
  position: absolute;
  rotate: 180deg;
}
.loader-sphere-even-thinner {
  border: 1px solid rgba(255,255,255,0);
  border-top: 1px solid aquamarine;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin .35s linear infinite;
  z-index: -1;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 800px){
  .app-header {
    font-size: 10vw;
    margin: 3% auto;
  }
  .loader {
    font-size: 16px;
  }
  header p {
    font-size: 16px;
  }
  .cardHolder {
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .imageCard {
    width: 95%;
    max-width: 370px;
    margin: 7% auto;
    box-shadow: none;
  }
}